.section__work {
  padding: 6.4rem 0 9.6rem 0;
  background: #f3f3f3;
}

.work {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  column-gap: 3rem;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.6rem 1.2rem;
  background: #eee;

  &__price {
    &__heading {
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }
  }

  &__skills {
    &__heading {
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
    }

    &__list {
      margin-top: 1.6rem;

      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      li {
        display: flex;
        gap: 0.8rem;
        align-items: center;
      }
    }
  }
}

.results {
  overflow-y: hidden;
}

.results {
  &__heading {
    padding: 1.6rem 1.2rem 0.6rem 1.2rem;
    border-bottom: 2px solid var(--color-grey-light-3);
  }

  &__list {
    padding: 0 1.2rem;
  }
}
