.profile {
  &__top {
    display: grid;
    grid-template-columns: 1.1fr 2.9fr;
    column-gap: 3rem;

    margin-top: 3.6rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__projects {
    padding: 1.6rem 1.2rem;
  }

  &__reviews {
    margin-top: 3rem;
    padding: 0 1.6rem;
  }
}

.reviews {
  &__heading {
    border-bottom: 2px solid var(--color-grey-light-3);
    padding: 1.6rem 0;
  }

  &__projects {
    padding: 1.6rem 0;

    display: flex;
  }
}
