.filter {
  &__price {
    &__heading {
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }

    &__group {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  &__pricing {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
