.error {
  color: rgb(240, 40, 28);
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;

  svg {
    height: 1.6rem;
    width: 1.6rem;
  }
}

.form-control {
  &__select {
    border-radius: var(--input-radius);
    background: #fff;
    outline: 2px solid rgba(var(--tint-primary-color), 0.6);
    border: 1px solid var(--primary-color);
    position: relative;
  }

  &__select-none {
    border-radius: var(--input-radius);
    background: #fff;
    border: 1px solid var(--primary-color);
    position: relative;
  }
}

.password {
  padding: 1.2rem 1.6rem !important;
  border: none !important;
  outline: none !important;
}
