.error {
  color: red;
  margin-top: 0.8rem;
}

.form-control {
  &__select {
    padding: 0.2rem 0.6rem;
    border-radius: var(--input-radius);
    background: #fff;
    outline: 2px solid rgba(var(--tint-primary-color), 0.6);
    border: 1px solid var(--primary-color);
    position: relative;
  }

  &__select-none {
    padding: 0.2rem 0.6rem;
    border-radius: var(--input-radius);
    background: #fff;
    border: 1px solid var(--primary-color);
    position: relative;
  }
}

.password {
  padding: 1rem !important;
  border: none !important;
  outline: none !important;
}
