.password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 2.4rem;
  width: 2.4rem;
  transition: all 0.2s;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: var(--color-grey-light-3);
  }

  svg {
    height: 75%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
