.summary {
  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding-top: 1.6rem;

    div {
      width: 60%;
      aspect-ratio: 1;
    }

    figcaption {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__rating {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.2rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: center;
      justify-content: center;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    font-size: 1.6rem;
  }

  &__find {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    p {
      font-size: 1.6rem;
    }

    &--link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        height: 3.2rem;
        width: 3.2rem;
        transition: all 0.2s;
        cursor: pointer;
        fill: var(--color-grey-dark-3);

        &:hover {
          fill: royalblue;
        }
      }
    }
  }
}

.profile__summary {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 1.6rem;
  height: fit-content;

  & > * {
    padding-bottom: 3.2rem;

    &:not(:last-child) {
      border-bottom: 2px solid var(--color-grey-light-3);
    }
  }
}

.rating-name {
  font-size: 1.6rem;
}
