.alert {
  padding: 1.2rem;
  border-radius: var(--input-radius);
  transform: translateX(100%);
  position: fixed;
  right: 0;
  top: calc(var(--nav-height) + 6px);

  display: flex;
  align-items: center;
  gap: 0.8rem;
  z-index: 999;

  animation: slideFromRight 6s ease-in-out;

  &--success {
    background-color: var(--success-color);
    color: var(--success-icon-color);
    border-bottom: 4px solid var(--success-icon-color);
  }

  &--error {
    background-color: var(--error-color);
    color: var(--error-icon-color);
    border-bottom: 4px solid var(--error-icon-color);
  }

  &--information {
    background-color: var(--information-color);
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
  }

  svg {
    height: 2rem;
    width: 2rem;
  }

  p {
    font-size: 1.4rem;
    transform: translateY(1px);
    color: var(--color-grey-dark-2);
  }

  &__close {
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
    &:hover {
      background: var(--color-grey-light-3);
    }
  }
}

@keyframes slideFromRight {
  4% {
    transform: translateX(-4px);
    opacity: 1;
  }
  96% {
    transform: translateX(-4px);
    opacity: 1;
  }
}
