.circular {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;

  &::before,
  &::after {
    content: "";
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
  }

  &::after {
    background: var(--color-grey-light-1);
    z-index: 1;
  }

  span {
    z-index: 5;
    font-size: 150%;
    color: inherit;
  }
}
