.section__work {
  padding: 6.4rem 0 9.6rem 0;
}

.talent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  column-gap: 3rem;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.6rem 1.2rem;
  background: #fff;

  &__skills {
    &__heading {
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
    }
  }
}

.results {
  overflow-y: hidden;
  background: #fff;

  &__heading {
    padding: 1.6rem 1.2rem 0.6rem 1.2rem;
    border-bottom: 1px solid var(--color-grey-light-3);
  }

  &__list {
    padding: 0 1.6rem;
  }
}

.list {
  padding: 2.4rem 0;
  display: grid;
  grid-template-columns: minmax(0, 1.25fr) 8.75fr 2fr;
  grid-auto-flow: column;
  column-gap: 1.6rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light-2);
  }

  &__picture {
    width: 80%;
    aspect-ratio: 1;

    justify-self: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.4rem;
  }

  &__more {
    margin-top: auto;
  }
}
