.circular {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;

  &::after {
    content: "";
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    background: #fff;
    z-index: 1;
  }

  span {
    z-index: 5;
    font-size: 220%;
    color: inherit;
  }
}
