@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

:root {
  --shade-primary-color: #1e5cae;
  --tint-primary-color: 81, 143, 225;
  --primary-color: #2b7de7;
  --secondary-color: #1e7cae;
  --shade-tertiary-color: #ae1e66;
  --tertiary-color: #da2580;
  --success-color: #edf7ed;
  --success-icon-color: #4caf50;
  --error-color: #fdeded;
  --error-icon-color: #ef5350;
  --information-color: #e5f6fd;
  // #14b1ff
  // #13a8f2
  --input-radius: 4px;
  --button-radius: 6px;
  --layout-radius: 12px;

  --primary-heading: 5.2rem;
  --secondary-heading: 3.2rem;
  --tertiary-heading: 2.2rem;

  --btn-primary: #222147;
  --btn-secondary: ;

  // COLOR GREY
  --color-grey-dark-1: #212529;
  --color-grey-dark-2: #495057;
  --color-grey-dark-3: #868e96;

  --color-grey-light-1: #fefefe;
  --color-grey-light-2: #e9ecef;
  --color-grey-light-3: #dee2e6;

  --color-grey-light-hover-1: #f7f7fa;

  --nav-background: #fbfcfe;
  // --body-background: 229, 231, 235;
  --body-background: #fbfbfd;
  // --body-background: #f8fbfe;
  --nav-height: 6.4rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

// *:focus {
//   outline: 2px solid rgba(var(--tint-primary-color), 0.7);
// }

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1;
  font-family: "Open sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-grey-dark-2);
  background: var(--body-background);
  background-attachment: fixed;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;

  &-thumb {
    background: var(--color-grey-dark-3);
    border-radius: 100px;
  }

  // &-track {
  //   box-shadow: inset 0 0 2px rgb(216, 216, 216);
  //   border-radius: 100px;
  // }
}

// STYLES FOR HEADING
.heading {
  &--primary {
    font-size: var(--primary-heading);
    font-weight: 800;
    margin-bottom: 3.2rem;
    line-height: 1.1;
    letter-spacing: 2px;
    word-spacing: 2px;
  }

  &--secondary {
    font-size: var(--secondary-heading);
    margin-bottom: 2.8rem;
  }

  &--tertiary {
    font-size: var(--tertiary-heading);
    margin-bottom: 1.6rem;
  }
}
