@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
  --hover-primary-color: #06354d;
  --primary-color: #095073;
  --secondary-color: #1196d9;
  // #14b1ff
  // #13a8f2
  --input-radius: 4px;
  --button-radius: 8px;
  --layout-radius: 12px;

  --primary-heading: ;
  --secondary-heading: 4rem;
  --tertiary-heading: ;

  --btn-primary: #222147;
  --btn-secondary: ;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

// STYLES FOR HEADING
.heading {
  &__primary {
    font-size: var(--primary-heading);
  }

  &__secondary {
    font-size: var(--secondary-heading);
    margin-bottom: 2.4rem;
  }

  &__tertiary {
    font-size: var(--tertiary-heading);
  }
}
