.not-found {
  text-align: center;
  position: relative;

  &__svg {
    height: 96px;
    width: 96px;
    fill: var(--color-grey-dark-3);
    margin: 3.6rem 0;
  }

  &__heading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: var(--color-grey-dark-2);
  }

  &__message {
    font-size: 1.8rem;
    margin-bottom: 3.6rem;
  }
}
