.loader {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  &__circle {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    transform: translate(0, 0);

    &:nth-child(1) {
      background: var(--primary-color);
      animation: bounce 1.2s infinite;
    }

    &:nth-child(2) {
      background: var(--tertiary-color);
      animation: bounce 1.2s 0.25s infinite;
    }

    &:nth-child(3) {
      background: #dac425;
      animation: bounce 1.2s 0.5s infinite;
    }
  }
}

@keyframes bounce {
  50% {
    transform: translate(0, -25px);
  }
}
