.main-nav {
  &__link {
    &:link,
    &:visited {
      color: red;
      padding: 0.8rem 2.4rem;
      display: inline-block;
      border-radius: 100px;
      text-decoration: none;

      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: #000;
    }

    &:focus {
      outline: 4px solid rgba(128, 200, 128, 0.5);
    }

    &.nav-cta:link,
    &.nav-cta:visited {
      color: pink;
      padding: 1.2rem 2.4rem;
      background-color: olive;
    }

    &--active {
      @extend .main-nav__link;
      background: purple;
      transition: all 0.2s;
    }
  }
}

.utility {
  padding: 0.8rem !important;

  &:hover {
    background: none !important;
  }
}
